.SearchPanel input {
  padding: 5px;
  box-shadow: none;
  border: transparent;
  border-radius: 5px;
  background-color: #3e3e3e;
  width: 300px;
}
.SearchPanel input:focus{
  background-color: #fff;
}
.SearchPanel input:focus{
  color: #3e3e3e;
}
.SearchPanel input:focus::placeholder{
  color: #3e3e3e;
}
.search-data{
  background-color: #fff;
  box-sizing: border-box;
  width: 310px;
  padding: 10px;
  margin: 0;
  position: absolute;
  border: 2px solid cornflowerblue;
  z-index: 100;
  li{
    list-style: none;
    width: 100%;
    margin-bottom: 3px;
  }
}
